<div class="sys-shell sys-shell--narrow sys-page">
  <header class="sys-masthead sys-reveal">
    <p class="sys-kicker"><%= @project.name %></p>
    <h2 class="sys-display sys-display--md">Edit Project</h2>
  </header>

  <div class="sys-reveal" style="--d: 80ms">
    <%= render "form", project: @project %>
  </div>
</div>
